In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("./data1.csv")
df2 = pd.read_csv("./data2.csv")
df3 = pd.read_csv("./data3.csv")
display(df1)

         학번   이름
0   1X10137  *현정
1   1X10194  *민지
2   1X12805  *예원
3   1X15363  *소연
4   1X16434  *민지
5   2X10333  *의정
6   2X10855  *서린
7   2X11621  *민서
8   2X11852  *채형
9   2X12158  *연우
10  2X12726  *희진
11  2X12795  *수아
12  2X13544  *다정
13  2X13847  *예린
14  2X14094  *민영
15  2X14235  *정연
16  2X14559  *서현
17  2X14839  *은진
18  2X14844  *원선
19  2X14900  *승연
20  2X14904  *지빈
21  2X15682  *보경
22  2X16030  *시영
23  2X16437  *시현
24  2X16678  *민지

In [3]:
display(df2)

         학번   이름
0   2X14904  *지빈
1   2X13544  *다정
2   2X14844  *원선
3   2X15682  *보경
4   2X14559  *서현
5   1X15978  *승희
6   2X12342  *영은
7   2X12192  *예지
8   1X10418  *은서
9   1X16296  *진주
10  1X10833  *현민
11  2X13013  *주영
12  2X15028  *채현
13  2X10565  *민영
14  2X13592  *유빈
15  2X13686  *민지
16  2X12491  *윤서
17  2X16542  *하빈
18  2X11999  *윤아
19  2X13885  *유리

In [4]:
display(df3)

         학번        학과(전공)
0   2X16437        IT공학전공
1   1X16434        IT공학전공
2   2X14904        IT공학전공
3   1X10833          경영학부
4   2X11999          경영학부
5   1X15978  르꼬르동블루외식경영전공
6   2X15682     소프트웨어융합전공
7   1X10194     소프트웨어융합전공
8   2X10333       컴퓨터과학전공
9   2X15028          통계학과
10  2X13013          통계학과
11  2X13592          통계학과
12  1X16296          통계학과
13  1X10418          통계학과
14  2X12192          통계학과
15  2X12342          통계학과
16  2X13686          통계학과
17  2X12491          통계학과
18  2X14559          통계학과
19  2X16542          통계학과
20  2X10565          통계학과
21  2X14844          통계학과
22  1X12805          통계학과
23  2X13847          통계학과
24  2X14839          통계학과
25  2X11621          통계학과
26  2X14094          통계학과
27  2X16678          통계학과
28  2X10855          통계학과
29  2X12795          통계학과
30  2X13544          통계학과
31  2X14900          통계학과
32  2X14235          통계학과
33  2X11852          통계학과
34  1X10137          통계학과
35  2X12726          통계학과
36  1X15363          통계학과
37  2X12158          통계학과
38  2X16030          통계학과
39  2X13885          통계학과

### Pandas DataFrame
- side by side (axis=1): merge or join
    - join은 제거될 예정
- stacking (axis=0): concat or append
    - append는 제거될 예정

In [5]:
## 위 아래로 붙이기
df = pd.concat([df1, df2])
display(df)

         학번   이름
0   1X10137  *현정
1   1X10194  *민지
2   1X12805  *예원
3   1X15363  *소연
4   1X16434  *민지
5   2X10333  *의정
6   2X10855  *서린
7   2X11621  *민서
8   2X11852  *채형
9   2X12158  *연우
10  2X12726  *희진
11  2X12795  *수아
12  2X13544  *다정
13  2X13847  *예린
14  2X14094  *민영
15  2X14235  *정연
16  2X14559  *서현
17  2X14839  *은진
18  2X14844  *원선
19  2X14900  *승연
20  2X14904  *지빈
21  2X15682  *보경
22  2X16030  *시영
23  2X16437  *시현
24  2X16678  *민지
0   2X14904  *지빈
1   2X13544  *다정
2   2X14844  *원선
3   2X15682  *보경
4   2X14559  *서현
5   1X15978  *승희
6   2X12342  *영은
7   2X12192  *예지
8   1X10418  *은서
9   1X16296  *진주
10  1X10833  *현민
11  2X13013  *주영
12  2X15028  *채현
13  2X10565  *민영
14  2X13592  *유빈
15  2X13686  *민지
16  2X12491  *윤서
17  2X16542  *하빈
18  2X11999  *윤아
19  2X13885  *유리

In [6]:
#위아래로 붙이기, index는 새로 편집
df = pd.concat([df1,df2], ignore_index = True) # 기존의 인덱스는 무시하고 새롭게 순서대로 인덱스를 생성
display(df)

         학번   이름
0   1X10137  *현정
1   1X10194  *민지
2   1X12805  *예원
3   1X15363  *소연
4   1X16434  *민지
5   2X10333  *의정
6   2X10855  *서린
7   2X11621  *민서
8   2X11852  *채형
9   2X12158  *연우
10  2X12726  *희진
11  2X12795  *수아
12  2X13544  *다정
13  2X13847  *예린
14  2X14094  *민영
15  2X14235  *정연
16  2X14559  *서현
17  2X14839  *은진
18  2X14844  *원선
19  2X14900  *승연
20  2X14904  *지빈
21  2X15682  *보경
22  2X16030  *시영
23  2X16437  *시현
24  2X16678  *민지
25  2X14904  *지빈
26  2X13544  *다정
27  2X14844  *원선
28  2X15682  *보경
29  2X14559  *서현
30  1X15978  *승희
31  2X12342  *영은
32  2X12192  *예지
33  1X10418  *은서
34  1X16296  *진주
35  1X10833  *현민
36  2X13013  *주영
37  2X15028  *채현
38  2X10565  *민영
39  2X13592  *유빈
40  2X13686  *민지
41  2X12491  *윤서
42  2X16542  *하빈
43  2X11999  *윤아
44  2X13885  *유리

In [7]:
## 위 아래로 붙이기, DF에 "키 값" 추가
df = pd.concat([df1, df2], keys=(["데이터1", "데이터2"])) ##각 데이터프레임의 값을 구분하기 위해 키값을 추가함
display(df)

              학번   이름
데이터1 0   1X10137  *현정
     1   1X10194  *민지
     2   1X12805  *예원
     3   1X15363  *소연
     4   1X16434  *민지
     5   2X10333  *의정
     6   2X10855  *서린
     7   2X11621  *민서
     8   2X11852  *채형
     9   2X12158  *연우
     10  2X12726  *희진
     11  2X12795  *수아
     12  2X13544  *다정
     13  2X13847  *예린
     14  2X14094  *민영
     15  2X14235  *정연
     16  2X14559  *서현
     17  2X14839  *은진
     18  2X14844  *원선
     19  2X14900  *승연
     20  2X14904  *지빈
     21  2X15682  *보경
     22  2X16030  *시영
     23  2X16437  *시현
     24  2X16678  *민지
데이터2 0   2X14904  *지빈
     1   2X13544  *다정
     2   2X14844  *원선
     3   2X15682  *보경
     4   2X14559  *서현
     5   1X15978  *승희
     6   2X12342  *영은
     7   2X12192  *예지
     8   1X10418  *은서
     9   1X16296  *진주
     10  1X10833  *현민
     11  2X13013  *주영
     12  2X15028  *채현
     13  2X10565  *민영
     14  2X13592  *유빈
     15  2X13686  *민지
     16  2X12491  *윤서
     17  2X16542  *하빈
     18  2X11999  *윤아
     19  2X13885  *유리

In [8]:
## 위아래로 붙이기, "중복 ,삭제"
df4 = pd.concat([df1, df2], keys=(["데이터1", "데이터2"])).drop_duplicates() # 중복된 데이터값을 삭제함
##df4.rest_index(drop=True, inplace=True) # 새로운 변수에 저장함
display(df4)

              학번   이름
데이터1 0   1X10137  *현정
     1   1X10194  *민지
     2   1X12805  *예원
     3   1X15363  *소연
     4   1X16434  *민지
     5   2X10333  *의정
     6   2X10855  *서린
     7   2X11621  *민서
     8   2X11852  *채형
     9   2X12158  *연우
     10  2X12726  *희진
     11  2X12795  *수아
     12  2X13544  *다정
     13  2X13847  *예린
     14  2X14094  *민영
     15  2X14235  *정연
     16  2X14559  *서현
     17  2X14839  *은진
     18  2X14844  *원선
     19  2X14900  *승연
     20  2X14904  *지빈
     21  2X15682  *보경
     22  2X16030  *시영
     23  2X16437  *시현
     24  2X16678  *민지
데이터2 5   1X15978  *승희
     6   2X12342  *영은
     7   2X12192  *예지
     8   1X10418  *은서
     9   1X16296  *진주
     10  1X10833  *현민
     11  2X13013  *주영
     12  2X15028  *채현
     13  2X10565  *민영
     14  2X13592  *유빈
     15  2X13686  *민지
     16  2X12491  *윤서
     17  2X16542  *하빈
     18  2X11999  *윤아
     19  2X13885  *유리

In [9]:
## "다른 변수"가 있는 경우: 옵션이 없으면 모두 출력
df = pd.concat([df1, df3])
display(df)

         학번   이름 학과(전공)
0   1X10137  *현정    NaN
1   1X10194  *민지    NaN
2   1X12805  *예원    NaN
3   1X15363  *소연    NaN
4   1X16434  *민지    NaN
..      ...  ...    ...
35  2X12726  NaN   통계학과
36  1X15363  NaN   통계학과
37  2X12158  NaN   통계학과
38  2X16030  NaN   통계학과
39  2X13885  NaN   통계학과

[65 rows x 3 columns]

In [10]:
## 모든 DF에 있는 변수만 출력
df = pd.concat([df1,df3], join = 'inner') ## 이너조인 => 두 데이터집합이 공통으로 갖는 값("학번") 기준으로 합침!
display(df)

         학번
0   1X10137
1   1X10194
2   1X12805
3   1X15363
4   1X16434
..      ...
35  2X12726
36  1X15363
37  2X12158
38  2X16030
39  2X13885

[65 rows x 1 columns]

## 좌우로 붙이기
#### DF+ DF, DF+Series , Series+Series
#### df4: df4, reset_index(drop=True, inplace=True) 적용한 DF
#### 옵션이 없는 경우 index 기준으로 병합

In [11]:
# "동일 변수" 를 확인 후 같은 자료만 좌우로 결합
df = pd.merge(df1, df2) ##df1 과 df2가 공통으로 갖는 값을 기준으로 데이터를 형성함 (교집합)
display(df)

        학번   이름
0  2X13544  *다정
1  2X14559  *서현
2  2X14844  *원선
3  2X14904  *지빈
4  2X15682  *보경

In [12]:
# 동일 변수를 확인 후 같은 자료만 좌우로 결합
## df4와 df3의 동일한 학번들을 연결하여 매핑하여 데이터 집합을 생성함
df = pd.merge(df4, df3)  ##df4: df1+df2 중복 없이 위아래로 합친 데이터, 
display(df)

         학번   이름        학과(전공)
0   1X10137  *현정          통계학과
1   1X10194  *민지     소프트웨어융합전공
2   1X12805  *예원          통계학과
3   1X15363  *소연          통계학과
4   1X16434  *민지        IT공학전공
5   2X10333  *의정       컴퓨터과학전공
6   2X10855  *서린          통계학과
7   2X11621  *민서          통계학과
8   2X11852  *채형          통계학과
9   2X12158  *연우          통계학과
10  2X12726  *희진          통계학과
11  2X12795  *수아          통계학과
12  2X13544  *다정          통계학과
13  2X13847  *예린          통계학과
14  2X14094  *민영          통계학과
15  2X14235  *정연          통계학과
16  2X14559  *서현          통계학과
17  2X14839  *은진          통계학과
18  2X14844  *원선          통계학과
19  2X14900  *승연          통계학과
20  2X14904  *지빈        IT공학전공
21  2X15682  *보경     소프트웨어융합전공
22  2X16030  *시영          통계학과
23  2X16437  *시현        IT공학전공
24  2X16678  *민지          통계학과
25  1X15978  *승희  르꼬르동블루외식경영전공
26  2X12342  *영은          통계학과
27  2X12192  *예지          통계학과
28  1X10418  *은서          통계학과
29  1X16296  *진주          통계학과
30  1X10833  *현민          경영학부
31  2X13013  *주영          통계학과
32  2X15028  *채현          통계학과
33  2X10565  *민영          통계학과
34  2X13592  *유빈          통계학과
35  2X13686  *민지          통계학과
36  2X12491  *윤서          통계학과
37  2X16542  *하빈          통계학과
38  2X11999  *윤아          경영학부
39  2X13885  *유리          통계학과

In [21]:
# 특정 변수값을 기준으로 좌우 결합 => 조인 결합 !!
## 각 DF가 동일 변수명을 가지는 경우 변수명에 suffies가 붙음 
#df = pd.merge(df1, df2, on=['학번'], how='inner') ## 이너조일을 실행함 , 두 값이 공통으로 갖는 칼럼 값을 기준으로 데이터 집합 합침
## on:기준값 -> "학번을 기준으로 "조인을 실행
#df = pd.merge(df1, df2, on=['학번'],suffixes=["_l", "_r"] ,how='outer') # 공통값을 가지지 않은 모든 값을 전부 합침 
#df = pd.merge(df1, df2, on=['학번'],suffixes=["_l", "_r"] , how='left') # 왼쪽 데이터셋, 즉 df1의 칼럼 값들을 모두 표현함
#df = pd.merge(df1, df2, on=['학번'],suffixes=["_l", "_r"] , how='right')
#df = pd.merge(df1, df2, on=['학번'],suffixes=["_l", "_r"] , how='outer', indicator = True)
#df = pd.merge(df1, df2, on=['학번'],suffixes=["_l", "_r"] , how='outer', indicator='indicator_col') ## 인덱스 명 지정
df = pd.merge(df1, df2, suffixes=["_l", "_r"] ,left_index=True, right_index=True) ## 아예 전체 두 데이터 셋을 양옆으로 인덱스를 지정하여 합침 
display(df)

       학번_l 이름_l     학번_r 이름_r
0   1X10137  *현정  2X14904  *지빈
1   1X10194  *민지  2X13544  *다정
2   1X12805  *예원  2X14844  *원선
3   1X15363  *소연  2X15682  *보경
4   1X16434  *민지  2X14559  *서현
5   2X10333  *의정  1X15978  *승희
6   2X10855  *서린  2X12342  *영은
7   2X11621  *민서  2X12192  *예지
8   2X11852  *채형  1X10418  *은서
9   2X12158  *연우  1X16296  *진주
10  2X12726  *희진  1X10833  *현민
11  2X12795  *수아  2X13013  *주영
12  2X13544  *다정  2X15028  *채현
13  2X13847  *예린  2X10565  *민영
14  2X14094  *민영  2X13592  *유빈
15  2X14235  *정연  2X13686  *민지
16  2X14559  *서현  2X12491  *윤서
17  2X14839  *은진  2X16542  *하빈
18  2X14844  *원선  2X11999  *윤아
19  2X14900  *승연  2X13885  *유리

In [ ]:
## 다른 변수명의 값을 기준으로 좌우 결합
df5 = df2.copy()
df5.rename(columns={"학번":"ID"}, inplace=True)
df = pd.merge(df1,df5, left_on = "학번", right_on="ID", how='right')
display(df)

In [3]:
## 비교 변수명에 동일 값이 여러 개 있는 경우
df = pd.merge(df1, df2, on=["이름"], how='inner')
display(df)

1.20.3

#### Pyspark DataFrame

In [ ]:
import pyspark
from pyspark.sql import SparkSession

스파크 = SparkSession.builder.appName('mergeDF').getOrCreate()
스파크.conf.sqlet("spark.sql.execution.arrow.enabled", "true")

In [ ]:
스파크DF1 = 스파크.read.option('header','true').csv("hdfs://localhost:9000/Spark/combinedata/data1.csv")
스파크DF2 = 스파크.read.option('header','true').csv("hdfs://localhost:9000/Spark/combinedata/data2.csv")
스파크DF3 = 스파크.read.option('header','true').csv("hdfs://localhost:9000/Spark/combinedata/data3.csv")

In [ ]:
스파크DF1.show()

In [ ]:
##같은 칼럼이 있어도 그대로 추가
DF=스파크DF1.union(스파크DF2)
DF.show(30)

In [ ]:
DF=스파크DF1.unionAll(스파크DF2)
DF.show(30)

In [ ]:
DF=스파크DF1.union(스파크DF2).distinct()
DF.show(30)

In [ ]:
#PySpark
DF = 스파크DF2.unionByName(스파크DF3, allowMissingColumns=True)
DF.show()

In [ ]:
스파크DF1.join(스파크DF2).show()

In [ ]:
DF = 스파크DF1.join(스파크DF3, 스파크DF1.학번 == 스파크DF3.학번)
DF.show() ## 조인의 종류 복습