### 자료의 값 변경
- 수치자료의 범주화
- 범주형 자료의 수치화
- 표준화 & 정규화
- 시간자료

### 수치자료를 범주형자료로
https://pandas.pydata.org/docs/reference/api/pandas.cut.html
- 구간으로 조절: pandas.cut
- 갯수로 조절: pandas.qcut
기본적으로 순서자료, 
명목자료로 설정하려면 "ordered = False"

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(316)##초기값을 주면 이 숫자를 기준으로 난수 생성
정규난수 = np.random.normal(size=1000)## normal(정규분포)에서 난수 생성
정규난수[0:10] ##array 형태로 출력됨

array([ 0.52545948,  0.70764429, -0.49330928,  0.24008271,  0.60501974,
       -0.85065702, -1.32245783, -0.15035946, -0.02010509,  0.54441863])

In [3]:
동일구간 = pd.cut(정규난수, bins=5)## 순서자료로 만들기 위해서 cut 함수 사용 -> 5개의 구간으로 나눔(최대 최소값을 기준으로)
동일구간 ## 각 숫자들이 어떤 범주에 속하는지 해당 범주 값들로 나타냄

[(-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], ..., (-0.525, 0.768], (-1.818, -0.525], (-1.818, -0.525], (-0.525, 0.768], (0.768, 2.062]]
Length: 1000
Categories (5, interval[float64, right]): [(-3.118, -1.818] < (-1.818, -0.525] < (-0.525, 0.768] < (0.768, 2.062] < (2.062, 3.355]]

In [4]:
동일구간.describe() ## 5개의 범주 -> 도수분포표 생성

                  counts  freqs
categories
(-3.118, -1.818]      28  0.028
(-1.818, -0.525]     284  0.284
(-0.525, 0.768]      484  0.484
(0.768, 2.062]       180  0.180
(2.062, 3.355]        24  0.024

In [5]:
구간지정 = pd.cut(정규난수, bins=[-3.5,-1.5,-0.5,0.5,1.5,3.5], labels=["A","B","C","D","E"]) ## 다른 기준으로 범주형데이터 만들기(알파벳으로 이름을 붙임)
구간지정

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A' < 'B' < 'C' < 'D' < 'E']

In [6]:
구간지정.describe()

            counts  freqs
categories
A               58  0.058
B              266  0.266
C              380  0.380
D              230  0.230
E               66  0.066

In [7]:
동일개수 = pd.qcut(정규난수, q=5)## 5 개의 구간으로 나누되, 각 구간에 해당되는 개수가 동일하도록 범주를 나눔 
동일개수.describe()

                  counts  freqs
categories
(-3.112, -0.845]     200    0.2
(-0.845, -0.295]     200    0.2
(-0.295, 0.191]      200    0.2
(0.191, 0.783]       200    0.2
(0.783, 3.355]       200    0.2

In [10]:
비율지정 = pd.qcut(정규난수, q=[0,0.25,0.5,0.75,1.]) ## 각 구간에 퍼센트를 다르게 하고 싶은 경우는 q에 개수를 적는게 아니라 비율을 적음
비율지정.describe()

                   counts  freqs
categories
(-3.112, -0.686]      250   0.25
(-0.686, -0.0377]     250   0.25
(-0.0377, 0.627]      250   0.25
(0.627, 3.355]        250   0.25

In [11]:
##"명목자료"로 표시할 떄에는 labels를 설정해야 함
구간지정 = pd.cut(정규난수, bins=[-3.5,-1.5,-0.5,0.5,1.5,3.5],labels=["A","B","C","D","E"], ordered=False)##명목자료 생성 
구간지정 ## 크기를 나타내는 부등호가 사라짐 !

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A', 'B', 'C', 'D', 'E']

In [12]:
## 범주값을 활용하고 싶은 경우
구간지정.categories

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

### 범주형 자료의 수치화
- 명목자료를 가변수로: pandas.get_dummies()
- 순서자료를 등간격의 수치로

In [13]:
주택 = pd.read_csv("housing.csv") ## 파일을 읽어옴 
주택.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### ocean_proximity는 명목자료 이므로, 이를 가변수로 변환

In [14]:
주택["해변근접성"] = 주택['ocean_proximity'].astype('category') ## 카테고리 타입으로 변환(수식이 없어짐 )-> 명목자료로 변환
주택["해변근접성"] ## 가변수로 변환!! , 앞으로 내가 임의로 만든 문자열은 "" 로 표시!!

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: 해변근접성, Length: 20640, dtype: category
Categories (5, object): ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']

In [19]:
주택위치 =pd.get_dummies(주택["해변근접성"]) ## get_dummies() : 카테고리에 맞게 가변수로 변환해주는 함수 => 5개의 더미 변수로 만듬
주택위치.head(11) #파이썬에서는 대문자와 소문자를 구별

    <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0           0       0       0         1           0
1           0       0       0         1           0
2           0       0       0         1           0
3           0       0       0         1           0
4           0       0       0         1           0
5           0       0       0         1           0
6           0       0       0         1           0
7           0       0       0         1           0
8           0       0       0         1           0
9           0       0       0         1           0
10          0       0       0         1           0

In [20]:
주택위치.columns = ["Ocean", "Inland", "Island", "NearBay", "NearOcean"] ## columns들이 빈칸이 없도록 재작성함 
주택위치

       Ocean  Inland  Island  NearBay  NearOcean
0          0       0       0        1          0
1          0       0       0        1          0
2          0       0       0        1          0
3          0       0       0        1          0
4          0       0       0        1          0
...      ...     ...     ...      ...        ...
20635      0       1       0        0          0
20636      0       1       0        0          0
20637      0       1       0        0          0
20638      0       1       0        0          0
20639      0       1       0        0          0

[20640 rows x 5 columns]

#### 순서자료를 동일 간격의 수치로

In [22]:
구간지정 ##현재 명목형 자료
##데이터 프레임 확인 : dtypes
## 데이터 프레임 변경:astype

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A', 'B', 'C', 'D', 'E']

In [33]:
##명목자료를 순서자료로
from pandas.api.types import CategoricalDtype ## 명목형 자료를 순서형으로 변환함

순서지정 = ['A','B','C','D','E']
순서구간 = 구간지정.astype(CategoricalDtype(categories=순서지정,ordered=True))## 순서가 있으니까 ordered가 true됨
순서구간

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A' < 'B' < 'C' < 'D' < 'E']

In [34]:
순서변환 = {'A':1,'B':2,'C':3,'D':4,'E':5}## 순서자료일 필요없이 명목자료로 변환가능
순서구간 = 순서구간.map(순서변환).astype('uint8')## 순서자료인 범주형을 숫자 수치자료로 변경 =>map()
순서구간

array([4, 4, 3, 3, 4, 2, 2, 3, 3, 4, 4, 2, 4, 4, 1, 3, 2, 4, 3, 5, 3, 3,
       3, 2, 5, 2, 5, 3, 3, 4, 2, 4, 2, 4, 3, 4, 1, 4, 4, 3, 5, 3, 3, 2,
       3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 3, 3, 1, 3, 3, 2, 2, 3, 4, 3, 3, 2,
       5, 3, 4, 3, 4, 1, 2, 2, 1, 2, 2, 4, 3, 4, 3, 3, 2, 3, 4, 3, 5, 4,
       4, 1, 2, 4, 3, 1, 2, 3, 4, 5, 1, 4, 4, 3, 3, 2, 4, 3, 3, 3, 2, 4,
       3, 4, 3, 2, 4, 3, 3, 2, 2, 3, 2, 4, 2, 3, 2, 2, 3, 4, 2, 4, 3, 3,
       2, 1, 5, 2, 1, 3, 2, 3, 3, 2, 4, 3, 2, 4, 2, 3, 3, 3, 3, 3, 2, 3,
       2, 3, 5, 4, 2, 1, 3, 3, 2, 5, 3, 3, 3, 3, 2, 4, 2, 2, 4, 2, 2, 3,
       3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 2, 3, 3, 3, 2, 3, 4, 3,
       2, 4, 4, 3, 3, 2, 4, 4, 2, 1, 2, 3, 4, 4, 5, 4, 3, 4, 3, 4, 3, 4,
       3, 3, 4, 2, 2, 3, 2, 4, 2, 3, 3, 2, 4, 2, 1, 2, 3, 3, 4, 4, 3, 2,
       4, 4, 3, 3, 2, 2, 3, 4, 4, 4, 3, 4, 3, 3, 2, 2, 2, 1, 4, 3, 4, 2,
       2, 4, 2, 1, 3, 3, 4, 3, 4, 1, 4, 3, 4, 3, 3, 3, 4, 3, 4, 2, 3, 3,
       4, 4, 3, 4, 4, 2, 3, 1, 3, 4, 2, 5, 2, 3, 2, 4, 2, 3, 2, 4, 2, 2,
       2, 4, 2, 2, 2, 2, 4, 3, 2, 3, 3, 4, 5, 2, 3, 2, 4, 4, 3, 2, 3, 4,
       3, 3, 3, 3, 2, 2, 3, 3, 3, 4, 5, 3, 3, 4, 2, 2, 3, 2, 5, 3, 3, 2,
       5, 3, 3, 4, 4, 4, 3, 2, 4, 2, 4, 3, 2, 3, 4, 2, 1, 2, 3, 4, 1, 3,
       1, 3, 3, 4, 3, 3, 4, 2, 2, 3, 4, 5, 3, 4, 4, 5, 2, 2, 4, 5, 2, 4,
       2, 2, 3, 4, 4, 5, 3, 1, 4, 2, 3, 4, 2, 3, 3, 2, 4, 3, 2, 3, 3, 3,
       4, 4, 5, 3, 2, 1, 3, 4, 2, 5, 2, 3, 4, 4, 4, 5, 1, 3, 3, 3, 2, 2,
       2, 2, 2, 4, 2, 2, 3, 3, 4, 3, 3, 3, 4, 5, 5, 3, 3, 3, 3, 3, 2, 3,
       2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 3, 4, 2, 2, 2, 3, 4, 2, 2, 2, 3, 4,
       4, 5, 3, 5, 3, 2, 3, 3, 2, 3, 3, 4, 3, 2, 4, 2, 4, 2, 3, 3, 3, 3,
       2, 3, 1, 3, 4, 3, 2, 4, 3, 5, 2, 4, 4, 5, 4, 3, 2, 3, 3, 2, 2, 2,
       3, 3, 1, 2, 2, 4, 5, 4, 2, 3, 4, 2, 2, 1, 4, 4, 3, 3, 3, 3, 4, 3,
       3, 3, 2, 4, 2, 4, 2, 3, 3, 2, 4, 2, 3, 3, 4, 2, 1, 3, 3, 1, 3, 3,
       3, 5, 2, 3, 4, 4, 3, 2, 3, 3, 2, 4, 2, 5, 1, 3, 1, 3, 4, 3, 3, 3,
       3, 3, 2, 2, 4, 2, 4, 1, 2, 5, 4, 3, 3, 1, 3, 3, 4, 2, 1, 2, 2, 5,
       3, 1, 2, 2, 3, 2, 5, 2, 4, 2, 1, 3, 4, 3, 2, 1, 3, 3, 4, 4, 5, 3,
       3, 3, 3, 2, 5, 3, 3, 3, 2, 2, 2, 5, 5, 1, 3, 4, 2, 4, 2, 3, 3, 2,
       2, 4, 3, 3, 3, 2, 4, 3, 3, 2, 3, 2, 3, 4, 3, 3, 2, 3, 3, 3, 3, 4,
       3, 3, 4, 2, 3, 3, 4, 3, 2, 3, 3, 5, 2, 1, 4, 3, 1, 1, 3, 3, 4, 4,
       4, 2, 2, 4, 4, 3, 5, 2, 3, 4, 2, 2, 4, 4, 4, 5, 2, 4, 1, 4, 2, 3,
       4, 4, 3, 2, 2, 1, 4, 5, 2, 3, 5, 2, 5, 2, 3, 3, 4, 2, 3, 3, 2, 4,
       1, 3, 2, 3, 4, 4, 1, 4, 2, 4, 4, 3, 2, 3, 2, 3, 3, 4, 4, 4, 4, 3,
       2, 3, 4, 2, 2, 3, 3, 3, 3, 3, 5, 4, 2, 4, 3, 4, 3, 3, 3, 3, 2, 3,
       2, 4, 4, 1, 2, 3, 4, 2, 3, 2, 2, 1, 2, 2, 5, 3, 4, 3, 4, 2, 5, 3,
       4, 5, 3, 1, 4, 2, 2, 2, 2, 4, 5, 3, 2, 4, 2, 3, 4, 4, 5, 3, 4, 3,
       2, 4, 4, 3, 2, 2, 3, 3, 1, 1, 4, 3, 3, 3, 4, 4, 3, 3, 2, 2, 3, 4,
       3, 3, 4, 3, 2, 3, 2, 5, 3, 2, 3, 3, 5, 5, 3, 4, 1, 4, 3, 2, 3, 3,
       1, 3, 3, 2, 3, 1, 2, 5, 3, 3, 3, 3, 3, 2, 3, 2, 3, 4, 2, 3, 4, 2,
       3, 2, 4, 2, 3, 1, 3, 5, 3, 1, 2, 3, 3, 3, 5, 4, 3, 3, 1, 4, 3, 5,
       3, 3, 4, 2, 3, 2, 4, 3, 2, 4, 3, 2, 3, 4, 2, 3, 1, 3, 2, 2, 5, 2,
       3, 4, 3, 5, 1, 4, 4, 2, 2, 5, 3, 5, 3, 2, 4, 3, 5, 3, 4, 3, 5, 4,
       3, 2, 3, 4, 3, 2, 3, 4, 3, 2, 2, 5, 3, 2, 5, 3, 2, 1, 2, 2, 2, 3,
       2, 3, 3, 4, 3, 3, 2, 2, 3, 4], dtype=uint8)

### 변수의 종류(수치자료와 범주형자료) 확인
- _get_numeric_data 메서드
- select_dtypes()

In [36]:
변수명= 주택.columns.tolist()
print("전체변수명:", 변수명)

전체변수명: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity', '해변근접성']

In [38]:
 주택._get_numeric_data()## 숫자로 이루어진 데이터들만 얻음

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [39]:
수치변수명 = 주택._get_numeric_data().columns.tolist()
범주변수명 = list(set(변수명)-set(수치변수명))## 데이터 프레임에서 "수치인 데이터를 뽑아내고 "그것의 이름을 가져옴
print("수치변수명:", 수치변수명)
print("범주변수명:", 범주변수명)

수치변수명: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
범주변수명: ['ocean_proximity', '해변근접성']

In [40]:
수치변수명 = 주택.select_dtypes(include=np.number).columns.tolist() ## 우리 데이터가 숫자 데이터면 가져오라는 명령 
범주변수명 = 주택.select_dtypes(exclude=np.number).columns.tolist() ## 숫자가 변수이면 버리라는 명령
print("수치변수명:", 수치변수명)
print("범주변수명:", 범주변수명)

수치변수명: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
범주변수명: ['ocean_proximity', '해변근접성']

In [41]:
주택.select_dtypes(exclude=np.number)

      ocean_proximity     해변근접성
0            NEAR BAY  NEAR BAY
1            NEAR BAY  NEAR BAY
2            NEAR BAY  NEAR BAY
3            NEAR BAY  NEAR BAY
4            NEAR BAY  NEAR BAY
...               ...       ...
20635          INLAND    INLAND
20636          INLAND    INLAND
20637          INLAND    INLAND
20638          INLAND    INLAND
20639          INLAND    INLAND

[20640 rows x 2 columns]

### 표준화 & 정규화

In [45]:
주택.info() ## 수치데이터일 때 표준화하는 방법 생각하기 (프로젝트)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
 10  해변근접성               20640 non-null  category
dtypes: category(1), float64(9), object(1)
memory usage: 1.6+ MB

In [46]:
수치자료 = 주택.iloc[:,[2,3,4,5,6,7]]# (행, 열) -> 칼럼만 뽑음 ## 부분적으로 데이터프레임을 자를 경우 
수치자료.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [44]:
수치자료 - 수치자료.mean(axis=0) ## 수치자료란 데이터프레임에서 평균을 계산 (axis = 0: 행을 기준으로 )

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,12.360514,-1755.763081,-408.870553,-1103.476744,-373.53968,4.454529
1,-7.639486,4463.236919,568.129447,975.523256,638.46032,4.430729
2,23.360514,-1168.763081,-347.870553,-929.476744,-322.53968,3.386729
3,23.360514,-1361.763081,-302.870553,-867.476744,-280.53968,1.772429
4,23.360514,-1008.763081,-257.870553,-860.476744,-240.53968,-0.024471
...,...,...,...,...,...,...
20635,-3.639486,-970.763081,-163.870553,-580.476744,-169.53968,-2.310371
20636,-10.639486,-1938.763081,-387.870553,-1069.476744,-385.53968,-1.313871
20637,-11.639486,-381.763081,-52.870553,-418.476744,-66.53968,-2.170671
20638,-10.639486,-775.763081,-128.870553,-684.476744,-150.53968,-2.003471
20639,-12.639486,149.236919,78.129447,-38.476744,30.46032,-1.482071

In [47]:
표준자료 = (수치자료-수치자료.mean(axis=0))/수치자료.std(axis=0)
표준자료.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,0.982119,-0.804800,-0.970301,-0.974405,-0.977009,2.344709
1,-0.607004,2.045841,1.348243,0.861418,1.669921,2.332181
2,1.856137,-0.535733,-0.825541,-0.820757,-0.843616,1.782656
3,1.856137,-0.624199,-0.718750,-0.766010,-0.733764,0.932945
4,1.856137,-0.462393,-0.611959,-0.759828,-0.629142,-0.012881

In [48]:
정규자료 =(수치자료-수치자료.min(axis=0))/(수치자료.max(axis=0)-수치자료.min(axis=0)) ## 정규자료로 생성함 , 0~1 사이의 값을 가짐 
정규자료.tail()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
20635,0.470588,0.042296,0.057883,0.023599,0.054103,0.073130
20636,0.333333,0.017676,0.023122,0.009894,0.018582,0.141853
20637,0.313725,0.057277,0.075109,0.028140,0.071041,0.082764
20638,0.333333,0.047256,0.063315,0.020684,0.057227,0.094295
20639,0.294118,0.070782,0.095438,0.038790,0.086992,0.130253

#### 시간자료 처리

In [49]:
## 시간별로 나오는 데이터들은 독립관계가 아님!!
# 시간 생성
pd.date_range("2023-3-2", "2023-6-21") ## 시간의 범위 설정

DatetimeIndex(['2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11',
               ...
               '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15',
               '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19',
               '2023-06-20', '2023-06-21'],
              dtype='datetime64[ns]', length=112, freq='D')

In [50]:
pd.date_range("2023-3-2",periods=100)

DatetimeIndex(['2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31', '2023-04-01', '2023-04-02',
               '2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-08', '2023-04-09', '2023-04-10',
               '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14',
               '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
               '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16',
               '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20',
               '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
               '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05',
               '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09'],
              dtype='datetime64[ns]', freq='D')

#### 주기
- s:초
- T:분
- H:시간
- D:일
- B:주말이 아닌 평일
- W:주
- W-MON: 주(월요일)
- M :각 달의 마지막날
- MS: 각 달의 첫날
- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS: 주말이 아닌 평일 중에서 각 달의 첫날
- WOM-2THU :각 달의 두번째 목요일
- Q-JAN: 각 분기의 첫달의 마지막 날
- Q-DEC: 각 분기의 마지막 달의 마지막 날

In [51]:
pd.date_range("2023-3-2",periods=5, freq="h")## 두개를 동시에 적용할 수 있음

DatetimeIndex(['2023-03-02 00:00:00', '2023-03-02 01:00:00',
               '2023-03-02 02:00:00', '2023-03-02 03:00:00',
               '2023-03-02 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [52]:
#date time index 사용
시간자료 = pd.DataFrame({'날짜': ['2023-01-01 01:10:00', '2023-02-25 03:20:20',
                                   '2023-03-02 06:30:00','2023-04-19 10:40:30',
                                    '2023-05-16 12:50:00','2023-06-29 15:00:30',
                                    '2023-07-01 18:10:00','2023-09-15 21:50:30']}) ##datetime 을 이용
## 딕셔너리 형태로 데이터프레임 안에 값을 지정함 -> "날짜" 변수 추가
시간자료.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes

In [53]:
시간자료.head()##데이터 프레임 전체를 출력

                    날짜
0  2023-01-01 01:10:00
1  2023-02-25 03:20:20
2  2023-03-02 06:30:00
3  2023-04-19 10:40:30
4  2023-05-16 12:50:00

In [55]:
시간자료["날짜"]

0   2023-01-01 01:10:00
1   2023-02-25 03:20:20
2   2023-03-02 06:30:00
3   2023-04-19 10:40:30
4   2023-05-16 12:50:00
5   2023-06-29 15:00:30
6   2023-07-01 18:10:00
7   2023-09-15 21:50:30
Name: 날짜, dtype: datetime64[ns]

In [56]:
# 시간자료로 변환
시간자료['날짜'] = pd.to_datetime(시간자료['날짜'],format='%Y-%m-%d %H:%M:%S', errors='raise')
시간자료.info() ##Y: 4자리로 표현

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      8 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 192.0 bytes

In [57]:
시간자료['date'] = 시간자료['날짜'].dt.date
시간자료['year'] = 시간자료['날짜'].dt.year
시간자료['month'] = 시간자료['날짜'].dt.month
시간자료['월이름'] = 시간자료['날짜'].dt.month_name()
시간자료['day'] = 시간자료['날짜'].dt.day
시간자료['time'] = 시간자료['날짜'].dt.time
시간자료['hour'] = 시간자료['날짜'].dt.hour
시간자료['minute'] = 시간자료['날짜'].dt.minute
시간자료['second'] = 시간자료['날짜'].dt.second
시간자료.head()

,날짜,date,year,month,월이름,day,time,hour,minute,second
0,2023-01-01 01:10:00,2023-01-01,2023,1,January,1,01:10:00,1,10,0
1,2023-02-25 03:20:20,2023-02-25,2023,2,February,25,03:20:20,3,20,20
2,2023-03-02 06:30:00,2023-03-02,2023,3,March,2,06:30:00,6,30,0
3,2023-04-19 10:40:30,2023-04-19,2023,4,April,19,10:40:30,10,40,30
4,2023-05-16 12:50:00,2023-05-16,2023,5,May,16,12:50:00,12,50,0

## 날짜 & 시간 조정

In [58]:
import datetime
시간자료['날짜']+datetime.timedelta(days=5) ## 모든 day에 5씩 더함

0   2023-01-06 01:10:00
1   2023-03-02 03:20:20
2   2023-03-07 06:30:00
3   2023-04-24 10:40:30
4   2023-05-21 12:50:00
5   2023-07-04 15:00:30
6   2023-07-06 18:10:00
7   2023-09-20 21:50:30
Name: 날짜, dtype: datetime64[ns]

#### 시간간격 조정:resample
- up-sampling:시간간격 좁아짐 -> 데이터량 증가
- down-sampling: 시간 간격 넓어짐 -> 데이터량 감소

In [59]:
시계열 = pd.Series(np.random.randn(100),index=pd.date_range("2023-1-1", periods=100,freq="D"))## 난수를 100개 생성!
시계열.head()

2023-01-01    0.618585
2023-01-02    0.365010
2023-01-03    0.872302
2023-01-04    0.060234
2023-01-05    0.349634
Freq: D, dtype: float64

In [60]:
시계열.resample('W').mean()## 주 단위로 평균낸 값들을 계산

2023-01-01    0.618585
2023-01-08    0.673604
2023-01-15   -0.188737
2023-01-22   -0.038570
2023-01-29    0.449123
2023-02-05    0.431923
2023-02-12    0.016617
2023-02-19    0.325256
2023-02-26    0.142551
2023-03-05    0.317464
2023-03-12    0.051187
2023-03-19   -0.383341
2023-03-26    0.028789
2023-04-02   -0.288245
2023-04-09   -0.242945
2023-04-16   -0.534956
Freq: W-SUN, dtype: float64

In [61]:
분당자료 =pd.Series(np.random.randn(100), index=pd.date_range("2023-1-1", periods=100,freq="T")) ##분 단위로 생성
분당자료.head()

2023-01-01 00:00:00    0.664212
2023-01-01 00:01:00    0.124144
2023-01-01 00:02:00    0.338395
2023-01-01 00:03:00    0.445345
2023-01-01 00:04:00   -0.159555
Freq: T, dtype: float64

In [62]:
##10분간의 자료 중 open, high, low, close 출력
분당자료.resample('10T').ohlc() ## 10분 단위로 잘라서 10개의 데이터의 4가지 속성을 데이터프레임 형태로 출력

                         open      high       low     close
2023-01-01 00:00:00  0.664212  0.664212 -1.118192  0.596743
2023-01-01 00:10:00  2.126670  2.277304 -1.820985  1.695831
2023-01-01 00:20:00  0.784187  2.409511 -0.376148  1.264399
2023-01-01 00:30:00  0.179464  1.221336 -0.400289  1.221336
2023-01-01 00:40:00  0.539018  1.349007 -1.596612  1.189892
2023-01-01 00:50:00  0.815720  1.378763 -1.272793  0.244847
2023-01-01 01:00:00  0.042299  2.524251 -2.161323 -2.161323
2023-01-01 01:10:00  2.292516  2.292516 -1.736636 -0.282120
2023-01-01 01:20:00 -1.221518  1.332692 -1.538708  0.779086
2023-01-01 01:30:00 -0.574399  0.841804 -1.876165 -1.280851